.container-header{
    display: flex;
    justify-content: space-around;
    align-items: center;;
    height: 70px;
}

.container-header h1{
    font-size: 30px;
    margin: 0;
}

.btn-voltar{
    width: 160px;
    height: 40px;
    background-color: var(--main-button-color);
    text-decoration: none;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
    color: var(--main-bg-color);
}